.left-sidebar{
  background-color: white;
  position: fixed; 
  left: 0; 
  bottom: 0;
  top: 55px;
  width: 64px;
  z-index: 200;
  padding-top: 7px;
}
.sidebar-link{
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5px;
  cursor: pointer;
  margin-bottom: 2px;
}
.sidebar-link img{
  height: 24px;
  margin-bottom: 6px;
}
.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 10px;
}

.sidebar-link:hover{
  background-color: rgb(246, 243, 243);
  border-radius: 10px;
  margin-left: 5px;
}